body {
    font-family: 'dm serif text';
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    color: white;
    flex-direction: column;
    
}


header h1, header h3 {
    text-align: center;
    line-height: 1;
}

header h3 {
    line-height: 0.1;
    text-shadow: 1px rgba(255, 250, 250, 0.464);
    font-size: 1.2rem;
    margin-top: 2px;
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 800;
    margin-top: 50px;
}

.heart img {
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    opacity: 0.5;
    margin-top: 30px;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
  }
  
  
  section {
    margin-top:30px;
  }


.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    margin: auto;
    border-radius: 12px;
  }
  
  .slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  
  .slide {
    min-width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    user-select: none;
  }
  
  .nav.prev {
    left: 10px;
  }
  
  .nav.next {
    right: 10px;
  }

  .fade-in{
    font-size: 1.2rem;
  }

footer{
    font-size: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    margin-bottom: 20px;
}

.WhatsApp {
    position: fixed;
    bottom: 1%;
    right: 1%;
}

.WhatsApp img {
    width: 40px;
    height: 40px;
}

